@using WebsiteBanLinhKienDienTu15.Models;
@model List<CartItemVm>
@{
    ViewData["Title"] = "Cart";
}

<h1 class="text-light">Your Cart</h1>

<br />
<div class="row">
    <table class="table table-bordered text-light fw-bold">
        <thead>
            <tr class="redShop">
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/@item.Product.Image" width="200px" height="200px" />
                    </td>
                    <td>
                        @item.Product.ProductName
                    </td>
                    <td>
                        @string.Format("{0:N0} VND", item.Product.Price)
                    </td>
                    <td>
                        <input type="number" value="@item.Quantity" disabled />
                    </td>
                    <td>
                        <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.Product.ProductID" class="btn btn-RedShop">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-6">
        <a asp-area="Customer" asp-action="Index" asp-controller="Home" class="btn btn-gold">Back to Home</a>
    </div>
    <div class="col-6 text-end text-light fw-bold">
        <h4>Total Products: @Model.Sum(c => c.Quantity)</h4>
        
        <h4>Total Price: @string.Format("{0:N0} VND", Model.Sum(c => c.Quantity * c.Product.Price))</h4>
        @if (@Model.Sum(c => c.Quantity) < 1)
        {
            <button id="bt_white" class="btn btn-RedShop" disabled>Proceed to Checkout</button>
        }
        else
        {
            <a id="bt_white" asp-action="Checkout" asp-controller="Home" class="btn btn-RedShop">Proceed to Checkout</a>
        }
    </div>
</div>